* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    float: left;
    width: 700px;
    height: 300px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

/* my css */

h1{
    text-align: center;
    font-size: 5rem;
    font-family: "Dancing Script";
}

button{
    padding: .1rem .8rem;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 2rem;
    background: cyan;
    color: black;
}

button:active{
    background: darkcyan;
    color: purple;
}

img:active{
    border: 2px solid orange;
}

.item .text {
    font-family: "Dancing Script";
}

.item img{
    object-fit: fill;
}
